<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container wrapper">
  <div id='content' style="text-align: center;">
    <h4 class="titulo">
      {{nuevoJuego.titulo}}!
    </h4>

    <div id="juego">

      <h4 id='lblCrupier' style="color: white;">Puntos: {{nuevoJuego.jugadores[0].puntaje}} &nbsp;
        <i class="fa fa-spinner fa-spin"></i> Suma del crupier: {{nuevoJuego.sumaCrupier}}</h4>
      <img id="info" alt="Información" data-toggle="modal" data-target="#myModal" title="Reglas del juego">
      <br>
      <h5 style="color: yellow; font-size: large;"> Quedan en el mazo {{nuevoJuego.mazo.cartasRestantes}} cartas</h5>

      <div class="row" id="panel-board">

        <div class="parent-box" id="playboard-0">

        </div>

        <br>

        <div class="parent-box" id="space">
          <!-- <div id="snackbar">{{Mensajes}}</div> -->
          <div class="cont">
            <div class="PopUpMsg">
              <b>
                <h4 (click)="guardar()" id="lblMensaje"></h4>
              </b>
            </div>
          </div>
        </div>

        <br>

        <div class="parent-box" id="playboard-1">

        </div>

      </div>
      <h4 id='lblJugador' style="color: white;">Puntos: {{nuevoJuego.jugadores[1].puntaje}} &nbsp;
        <i class="fa fa-spinner fa-spin"></i> Suma del jugador: {{nuevoJuego.jugadores[1].suma}}</h4>

      <h4>
        <div class="row">
          <div class="col-xs-4">
            <button *ngIf="nuevoJuego.manoTerminada " (click)="repartir()" class="btn btn-success btn-xs btn-panel" id="btnRepartir"
              data-toggle="tooltip" title="Empezar una mano nueva">Repartir</button>
          </div>

          <div class="col-xs-4">
            <button *ngIf="!nuevoJuego.manoTerminada " (click)="pedir()" class="btn btn-primary btn-xs btn-panel" id="btnPedir" data-toggle="tooltip"
              title="Pedir otra carta del mazo">Pedir</button>
          </div>

          <div class="col-xs-4">
            <button *ngIf="!nuevoJuego.manoTerminada " (click)="plantarse()" class="btn btn-warning btn-xs btn-panel" id="btnPlantarse"
              data-toggle="tooltip" title="Aceptar las cartas y jugar">Plantarse</button>
          </div>
        </div>
      </h4>

    </div>
  </div>
  <app-decorations></app-decorations>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reglas del juego:</h4>
        <button type="button" class="close" data-dismiss="modal" title="Cerrar">&times;</button>
      </div>
      <div class="modal-body">
        <p>El crupier reparte dos cartas al jugador y dos para sí mismo, estando la segunda de estas boca abajo. El valor del
          As es 11 o 1, las figuras valen 10, y las cartas numéricas su valor natural. El valor del As puede cambiarse según
          la necesidad de no pasarse de 21. Si al jugador le sale un As junto con una carta de valor 10, obtiene blackjack,
          ganando la apuesta salvo que el crupier obtenga también blackjack. Al terminar de repartir las dos primeras cartas
          a cada jugador, el crupier pondrá luego su primera carta boca arriba de manera que sea visible para el resto de
          jugadores, quienes podrán tomar sus decisiones en función de esa carta. Cada jugador compite únicamente contra
          el crupier, siendo indiferente las cartas que tengan el resto de jugadores.</p>
        <p>El jugador tiene la posibilidad de plantarse y quedarse con cualquier puntuación, o de pedir más cartas hasta alcanzar
          los 21 puntos. Alcanzar los 21 puntos con más de una carta no se considera
          <b>blackjack</b>, siendo por tanto esa jugada inferior al blackjack con dos cartas. Si al pedir una nueva carta se
          pasa de 21, pierde automáticamente la mano. Cuando el jugador haya terminado de pedir sus cartas (Plantarse), el
          crupier mostrará su segunda carta y sacará más cartas si fuera necesario hasta sumar 17 o más puntos, momento en
          el que se plantará.</p>
        <p>Entre el crupier y el jugador, gana finalmente quién obtenga
          <b>blackjack (As+10)</b> o quien tenga la puntuación más alta sin pasarse de 21, existiendo la posibilidad de empate.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>