<!--input type="button" (click)="llamaService()" class="btn btn-info" value="Pulsame" > 
<input type="button" (click)="llamaServicePromesa()" class="btn btn-info" value="Pulsame Promesa" -->

<div class="container-fluid wrapper">
  <ul class="nav nav-pills">
    <li>
      <a routerLink="/Principal">Sala de Juegos</a>
    </li>
    <li class="active">
      <a (click)="traerTodos()">Todos</a>
    </li>
    <li>
      <a (click)="traerFiltrado('Adivina')">Adivina</a>
    </li>
    <li>
      <a (click)="traerFiltrado('Anagrama')">Anagrama</a>
    </li>
    <li>
      <a (click)="traerFiltrado('BlackJack')">Black Jack</a>
    </li>
    <li>
      <a (click)="traerFiltrado('PPT')">PPT</a>
    </li>
    <li>
      <a (click)="traerFiltrado('Tateti')">Tateti</a>
    </li>
    <li>
      <a (click)="traerFiltrado('Velocidad')">Velocidad</a>
    </li>
  </ul>

  <app-listado-de-resultados [listado]="listadoParaCompartir" [showTable]="show"> </app-listado-de-resultados>

</div>