<div class="content titulo">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#menu2">Tecnologías</a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu1">Sobre el juego</a>
    </li>
    <li>
      <a data-toggle="tab" href="#home">Sobre el autor</a>
    </li>
  </ul>

  <div class="tab-content">


    <div id="menu2" class="tab-pane fade in active">
      <h3 class="margin">Tecnologías utilizadas</h3>
      <div class="logo-list">
        <div>
          <img src="./assets/imagenes/techlogos/angular-icon.svg" class="img-responsive" title="Angular 2" alt="angular 2">
        </div>
        <div>
          <img src="./assets/imagenes/techlogos/typescript-2.svg" class="img-responsive" title="Typescript" alt="typescript">
        </div>
        <div>
          <img src="./assets/imagenes/techlogos/html-5.svg" class="img-responsive" title="HTML5" alt="html 5">
        </div>
        <div>
          <img src="./assets/imagenes/techlogos/css-3.svg" class="img-responsive" title="CSS3" alt="css 3">
        </div>
        <div>
          <img src="./assets/imagenes/techlogos/javascript.svg" class="img-responsive" title="Javascript" alt="javascript">
        </div>
        <div>
          <img src="./assets/imagenes/techlogos/jquery.svg" class="img-responsive" title="JQuery" alt="jquery">
        </div>
        <div>
          <img src="./assets/imagenes/techlogos/bootstrap.svg" class="img-responsive" title="Bootstrap" alt="bootstrap">
        </div>
        <div>
          <img src="./assets/imagenes/techlogos/php.svg" class="img-responsive" title="PHP" alt="php">
        </div>
        <div>
          <img src="./assets/imagenes/techlogos/mysql.svg" class="img-responsive" title="MySQL" alt="mysql">
        </div>
        <div>
          <img src="./assets/imagenes/techlogos/git.svg" class="img-responsive" title="Git" alt="git">
        </div>
        <div>
          <img src="./assets/imagenes/techlogos/visual-studio-code.svg" class="img-responsive" title="Visual Studio Code" alt="visual-studio-code">
        </div>
        <div>
          <img src="./assets/imagenes/techlogos/xampp.svg" class="img-responsive" title="Xampp" alt="xampp">
        </div>
        <div>
          <img src="./assets/imagenes/techlogos/github.svg" class="img-responsive" title="Github" alt="github">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <p>Este sitio es un trabajo práctico, orientado en la experiencia de usuario y el manejo de las tecnologías de front-end,
              entre las cuales se encuentran Twitter Bootstrap, JQuery, Angular 2, Typescript, HTML5, CSS3, PHP, MySQL, javascript
              entre otras.</p>
        </div>
        <div class="col-sm-4">
          <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamiento sea fluido y pensando en
            el comportamiento del usuario y en la funcionalidad.</p>
        </div>
        <div class="col-sm-4">
          <p title="Sono Sporci Questi Romani"> La idea del mismo es demostrar el correcto uso de estas tecnologías y una fluida y positiva experiencia
            de usuario, en cuanto al diseño y uso del mismo.</p>
        </div>
      </div>
    </div>


    <div id="menu1" class="tab-pane fade">
      <h3 class="margin titulo">Descripción Black Jack</h3>
      <div class="row">
        <div class="col-sm-12" id="yo">
          <p class="titulo">El crupier reparte dos cartas al jugador y dos para sí mismo, estando la segunda de estas boca abajo. El valor
            del As es 11 o 1, las figuras valen 10, y las cartas numéricas su valor natural. El valor del As puede cambiarse
            según la necesidad de no pasarse de 21. Si al jugador le sale un As junto con una carta de valor 10, obtiene
            blackjack, ganando la apuesta salvo que el crupier obtenga también blackjack. Al terminar de repartir las dos
            primeras cartas a cada jugador, el crupier pondrá luego su primera carta boca arriba de manera que sea visible
            para el resto de jugadores, quienes podrán tomar sus decisiones en función de esa carta. Cada jugador compite
            únicamente contra el crupier, siendo indiferente las cartas que tengan el resto de jugadores.</p>
          <p>El jugador tiene la posibilidad de plantarse y quedarse con cualquier puntuación, o de pedir más cartas hasta alcanzar
            los 21 puntos. Alcanzar los 21 puntos con más de una carta no se considera
            <b>blackjack</b>, siendo por tanto esa jugada inferior al blackjack con dos cartas. Si al pedir una nueva carta
            se pasa de 21, pierde automáticamente la mano. Cuando el jugador haya terminado de pedir sus cartas (Plantarse),
            el crupier mostrará su segunda carta y sacará más cartas si fuera necesario hasta sumar 17 o más puntos, momento
            en el que se plantará.</p>
          <p>Entre el crupier y el jugador, gana finalmente quién obtenga
            <b>blackjack (As+10)</b> o quien tenga la puntuación más alta sin pasarse de 21, existiendo la posibilidad de empate.</p>
        </div>
      </div>
    </div>


    <div id="home" class="tab-pane fade">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="margin">UTN.FRA.alumno</h4>
          <img src="./assets/imagenes/yo.jpg" class="img-responsive img-thumbnail" style="display: inline" alt="cestlavie" width="350"
            height="350" style="border-radius: 15px;">
        </div>
        <div class="col-sm-7">
          <h4 class="titulo">Federico Adolfo Honeker</h4>
          <p class="titulo">Soy un alumno de la UTN.FRA</p>
          <p class="titulo">Profesor: Octavio Villegas</p>
          <p class="titulo">Materia: Laboratorio IV (4)</p>
          <p>Github (fork): &nbsp;
            <a class="titulo" href="https://github.com/hnkr777/TP_LAV4_2017.git">github.com/hnkr777/tp_laboratorio_4.git</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>