<div class="container-fluid">
  <ul class="nav nav-pills">
    <li class="active">
      <a routerLink="/Principal">Ir a inicio</a>
    </li>
    <li>
      <a (click)="TraerTodos()">Todos los jugadores</a>
    </li>
    <li>
      <a (click)="TraerGanadores()">Los ganadores</a>
    </li>
    <li>
      <a (click)="TraerPerdedores()">Los perdedores</a>
    </li>
  </ul>
</div>


<table class="table table-condensed table-bordered table-striped table-hover warning" style="color: white; text-shadow: -1px 0 black, 0 1px rgb(0, 0, 0), 1px 0 black, 0 -1px black;">
  <thead>
    <th>Usuario</th>
    <th>email</th>
    <th>CUIT</th>
    <th>Sexo</th>
    <th>gano</th>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of listado">
      <td>{{jugador.nombre}} </td>
      <td>{{jugador.email}} </td>
      <td>{{jugador.cuit}} </td>
      <td>{{jugador.sexo | sexo| uppercase}} </td>
      <td>{{jugador.gano}} </td>
    </tr>
  </tbody>
</table>