<div class="container-fluid wrapper">
  <ul class="nav nav-pills">
    <li>
      <a routerLink="/Principal">
        <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Ir a inicio</a>
    </li>
    <li class="active">
      <a (click)="TraerTodos()">Todos los jugadores</a>
    </li>
    <li>
      <a (click)="TraerGanadores()">Los ganadores</a>
    </li>
    <li>
      <a (click)="TraerPerdedores()">Los perdedores</a>
    </li>
  </ul>

  <table class="table table-condensed table-bordered table-striped table-hover warning" style="color: white; text-shadow: -1px 0 black, 0 1px rgb(0, 0, 0), 1px 0 black, 0 -1px black;">
    <thead>
      <th>Usuario</th>
      <th>email</th>
      <th>CUIT</th>
      <th>Sexo</th>
      <th>gano</th>
    </thead>
    <tbody>
      <tr *ngFor="let jugador of listado">
        <td>{{jugador.nombre}} </td>
        <td>{{jugador.email}} </td>
        <td>{{jugador.cuit}} </td>
        <td>{{jugador.sexo | sexo| uppercase}} </td>
        <td>{{jugador.gano}} </td>
      </tr>
    </tbody>
  </table>
  <app-decorations></app-decorations>
</div>