
.imagenDeMenu{
width: 80px;
height: 70px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #100000;
}

#main-panel {
    width: 65%;
    background: rgba(0, 0, 0, 0.32);
    background-size: cover;
    margin: 2em auto;
}

.list-group-item {
    background-color: rgba(0, 0, 0, 0.32);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.list-group-item:hover {
    box-shadow: 0 0 8px 4px rgba(128, 128, 128, 0.5);
    background-color: rgba(70, 70, 70, 0.32);
    transition-duration: 0.7s;
    
}

.list-group-item:hover .media-heading {
    color: rgb(255, 207, 47);
}

.media-body p {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    text-align: left;
}

.media-body {
    
}

.media-heading {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    
    
}

