<div class="main-w3layouts wrapper">
  <app-cabecera> </app-cabecera>
  <br>
  <div class="container">
    <div class="main-panel slidein">
      <!-- <div class="agileits-top"> -->
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger" id="formRegistro">

          <div class="media-body-">
            <div class="hero-text">
              <h4 class="titulo">Menú Principal</h4>
            </div>
          </div>


        </li>
        <li class="list-group-item list-group-item-success">
          <a routerLink="/Juegos">
            <div class="media">
              <div class="media-left flip-img">
                <img src="./assets/imagenes/ball.gif" class="media-object imagenDeMenu">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Juegos</h4>
                <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes
                  que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas
                  impartidos por los docentes utilizando el juego.</p>
              </div>

            </div>
          </a>
        </li>
        <li class="list-group-item list-group-item-info">
          <a routerLink="/Listado">
            <div class="media">
              <div class="media-left flip-img">
                <img src="./assets/imagenes/stats.gif" class="media-object imagenDeMenu">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Listados de resultados</h4>
                <p>Los listados de los resultados con ordenamiento y busqueda y estadísticas por juego</p>
              </div>

            </div>
          </a>
        </li>
        <li class="list-group-item list-group-item-warning">
          <a routerLink="/Juegos">
            <div class="media">
              <div class="media-left flip-img">
                <img src="./assets/imagenes/config.gif" class="media-object imagenDeMenu">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Configuraci&oacute;n</h4>
                <p>Ajustes de la aplicacion y temas visuales</p>
              </div>

            </div>
          </a>
        </li>
        <li class="list-group-item list-group-item-warning">
          <a routerLink="/Jugadores">
            <div class="media">
              <div class="media-left flip-img">
                <img src="./assets/imagenes/games.gif" class="media-object imagenDeMenu">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Jugadores</h4>
                <p>Listado de jugadores con estadísticas individuales</p>
              </div>

            </div>
          </a>
        </li>


      </ul>
      <!-- </div> -->
    </div>
  </div>
  <app-decorations></app-decorations>
</div>


<!-- Modal info del autor -->
<div id="modalAbout" class="modal fade" tabindex="-1" role="dialog fade" aria-labelledby="infoAbout" aria-hidden="true">
  <div id="modalAboutMain" class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Acerca</h5>
        <button type="button" class="close" title="Cerrar" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-quien-soy></app-quien-soy>
      </div>
      <div class="modal-footer">
        <button type="button" class="elementNav" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>