
<div class="container">

  <div class="card">
    <img class="img-thumbnail" src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
    <h1>Velocidad aritmética </h1>
    <p class="title">Juego de agilidad y velocidad mental</p>
    <p>UTN FRA </p>
    <span class="favs">
      <a href="#">
        <i class="fa fa-dribbble"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
    </span>
    <p>
      <button class="button" (click)="Juego('Agilidad')">Jugar</button>
    </p>

  </div>

  <div class="card">
    <img class="img-thumbnail" src="./assets/imagenes/blackjack.jpg" alt="Avatar" style="width:100%">
    <h1>Black Jack</h1>
    <p class="title">Juega contra el crupier</p>
    <p>UTN FRA </p>
    <span class="favs">
      <a href="#">
        <i class="fa fa-dribbble"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
    </span>
    <p>
      <button class="button" (click)="Juego('BlackJack')">Jugar</button>
    </p>
  </div>

  <div class="card">
    <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
    <h1>Piedra Papel o Tijera</h1>
    <p class="title">Juega contra la máquina</p>
    <p>UTN FRA </p>
    <span class="favs">
      <a href="#">
        <i class="fa fa-dribbble"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
    </span>
    <p>
      <button class="button" (click)="Juego('PPT')">Jugar</button>
    </p>
  </div>

  <div class="card">
    <img class="img-thumbnail" src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
    <h1>Adivina</h1>
    <p class="title">Adivina el número secreto</p>
    <p>UTN FRA </p>
    <span class="favs">
      <a href="#">
        <i class="fa fa-dribbble"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
    </span>
    <p>
      <button class="button" (click)="Juego('Adivina')">Jugar</button>
    </p>
  </div>

  <div class="card">
    <img class="img-thumbnail" src="./assets/imagenes/anagrama.jpg" alt="Avatar" style="width:100%">
    <h1>Anagrama</h1>
    <p class="title">Adivina la palabra</p>
    <p>UTN FRA </p>
    <span class="favs">
      <a href="#">
        <i class="fa fa-dribbble"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
    </span>
    <p>
      <button class="button" (click)="Juego('Anagrama')">Jugar</button>
    </p>
  </div>

  <div class="card">
    <img class="img-thumbnail" src="./assets/imagenes/tateti.jpg" alt="Avatar" style="width:100%">
    <h1>Tateti</h1>
    <p class="title">Juega contra la máquina</p>
    <p>UTN FRA </p>
    <span class="favs">
      <a href="#">
        <i class="fa fa-dribbble"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
    </span>
    <p>
      <button class="button" (click)="Juego('Tateti')">Jugar</button>
    </p>
  </div>

  <app-decorations></app-decorations>
</div>