<div class="slide-left">
  <!-- Primera vista, carrusel -->
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-title">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
          </ol>

          <div class="carousel-inner">

            <div class="item active">
              <div class="card-carousel" (click)="Juego('Agilidad')">
                <h1>Velocidad aritmética </h1>
                <img class="img-thumbnail" src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
                <p class="title">Juego de agilidad y velocidad mental</p>
                <p>UTN FRA </p>
                <span class="favs">
                  <a href="#">
                    <i class="fa fa-dribbble"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="card-carousel" (click)="Juego('BlackJack')">
                <h1>Black Jack</h1>
                <img class="img-thumbnail" src="./assets/imagenes/blackjack.jpg" alt="Avatar" style="width:100%">
                <p class="title">Juega contra el crupier</p>
                <p>UTN FRA </p>
                <span class="favs">
                  <a href="#">
                    <i class="fa fa-dribbble"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="card-carousel" (click)="Juego('PPT')">
                <h1>Piedra Papel o Tijera</h1>
                <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
                <p class="title">Juega contra la máquina</p>
                <p>UTN FRA </p>
                <span class="favs">
                  <a href="#">
                    <i class="fa fa-dribbble"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </span>
              </div>
            </div>


            <div class="item">
              <div class="card-carousel" (click)="Juego('Adivina')">
                <h1>Adivina</h1>
                <img class="img-thumbnail" src="./assets/imagenes/mago.gif" alt="Avatar" style="width:100%">
                <p class="title">Adivina el número secreto</p>
                <p>UTN FRA </p>
                <span class="favs">
                  <a href="#">
                    <i class="fa fa-dribbble"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="card-carousel" (click)="Juego('Anagrama')">
                <h1>Anagrama</h1>
                <img class="img-thumbnail" src="./assets/imagenes/anagrama.jpg" alt="Avatar" style="width:100%">
                <p class="title">Adivina la palabra</p>
                <p>UTN FRA </p>
                <span class="favs">
                  <a href="#">
                    <i class="fa fa-dribbble"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="card-carousel" (click)="Juego('Tateti')">
                <h1>Tateti</h1>
                <img class="img-thumbnail" src="./assets/imagenes/tateti.jpg" alt="Avatar" style="width:100%">
                <p class="title">Juega contra la máquina</p>
                <p>UTN FRA </p>
                <span class="favs">
                  <a href="#">
                    <i class="fa fa-dribbble"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>

          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Siguiente</span>
          </a>

        </div>
      </div>
      <app-decorations></app-decorations>
    </div>

    <div class="sd">
      <p (click)="sd_event_down($event)" class="titulo">Desplazar hacia abajo</p>
    </div>

    
  </div>

</div>

<!-- Segunda vista, scrolled -->
<div class="content clearfix">
  <div class="container">

    <div class="sd">
      <p (click)="sd_event_up(0)" class="titulo">Desplazar hacia arriba</p>
    </div>

    <div class="card" (click)="Juego('Agilidad')">
      <img class="img-thumbnail" src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <h1>Velocidad aritmética </h1>
      <p class="title">Juego de agilidad y velocidad mental</p>
      <p>UTN FRA </p>
      <span class="favs">
        <a href="#">
          <i class="fa fa-dribbble"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </span>
    </div>

    <div class="card" (click)="Juego('BlackJack')">
      <img class="img-thumbnail" src="./assets/imagenes/blackjack.jpg" alt="Avatar" style="width:100%">
      <h1>Black Jack</h1>
      <p class="title">Juega contra el crupier</p>
      <p>UTN FRA </p>
      <span class="favs">
        <a href="#">
          <i class="fa fa-dribbble"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </span>
    </div>

    <div class="card" (click)="Juego('PPT')">
      <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      <span class="favs">
        <a href="#">
          <i class="fa fa-dribbble"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </span>
    </div>

    <div class="card" (click)="Juego('Adivina')">
      <img class="img-thumbnail" src="./assets/imagenes/mago.gif" alt="Avatar" style="width:100%">
      <h1>Adivina</h1>
      <p class="title">Adivina el número secreto</p>
      <p>UTN FRA </p>
      <span class="favs">
        <a href="#">
          <i class="fa fa-dribbble"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </span>
    </div>

    <div class="card" (click)="Juego('Anagrama')">
      <img class="img-thumbnail" src="./assets/imagenes/anagrama.jpg" alt="Avatar" style="width:100%">
      <h1>Anagrama</h1>
      <p class="title">Adivina la palabra</p>
      <p>UTN FRA </p>
      <span class="favs">
        <a href="#">
          <i class="fa fa-dribbble"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </span>
    </div>

    <div class="card" (click)="Juego('Tateti')">
      <img class="img-thumbnail" src="./assets/imagenes/tateti.jpg" alt="Avatar" style="width:100%">
      <h1>Tateti</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      <span class="favs">
        <a href="#">
          <i class="fa fa-dribbble"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </span>
    </div>

  </div>

  <app-decorations></app-decorations>

</div>