
<div class="main-w3layouts wrapper">
  <h1 class="titulo">Ingreso</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form id="formRegistro" (submit)="ingresar();" action="/login" method="post">
        <input id="txtEmail" [(ngModel)]="email" class="inputField" type="email" name="email" placeholder="Email" required>
        <input id="txtClave" [(ngModel)]="clave" class="inputField" type="password" name="clave" placeholder="Clave" required>
        <div class="wthree-text">
          <div class="checkbox">
            <label class="anim">
              <input type="checkbox" (change)="toggleTerminos()" class="checkbox" required=""> &nbsp; Recordarme
            </label>
          </div>
          <div class="clear"> </div>
        </div>
        <button class="btn btn-default" type="submit">Ingresar</button>
      </form>
      <p>¿No tiene cuenta?
        <a routerLink="/Registro"> Registrese aquí</a>
      </p>
    </div>
  </div>
  <div class="w3copyright-agile">
    <p class="titulo">© 2018 UTN.FRA | Design by
      <a routerLink="/localhost">hnkr</a>
    </p>
  </div>
  <app-decorations></app-decorations>
</div>
