<div class="container">
<div *ngIf="showTable.adivina" class="visor">
  <p class="titulo tag">&nbsp;Adivina el número</p>
  <table class="table table-condensed table-bordered table-hover titulo">
    <thead style="color: white; background-color: rgba(40, 40, 48, 0.8)">
      <tr>
        <th>Usuario</th>
        <th>Número</th>
        <th>Tiempo</th>
        <th>Intentos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of listado | tipoJuego: {juego: 'Adivina'}">
        <td>{{juego.nombre}} </td>
        <td>{{juego.numero}} </td>
        <td>{{juego.tiempo}} </td>
        <td>{{juego.intentos}} </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showTable.anagrama" class="visor">
  <p class="titulo tag">&nbsp;Anagrama</p>
  <table class="table table-condensed table-bordered table-hover titulo" style="margin-bottom: 20px;">
    <thead style="color: white; background-color: rgba(40, 40, 48, 0.8)">
      <tr>
        <th>Usuario</th>
        <th>Ganó</th>
        <th>Palabra</th>
        <th>Intentos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of listado | tipoJuego: {juego: 'Anagrama'}">
        <td>{{juego.nombre}} </td>
        <td [ngClass]="juego.gano?'btn-success':''">{{juego.gano?'Si':'No'}} </td>
        <td>{{juego.palabra}} </td>
        <td>{{juego.intentos}} </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showTable.blackjack" class="visor">
  <p class="titulo tag">&nbsp;Black Jack</p>
  <table class="table table-condensed table-bordered table-hover titulo" style="margin-bottom: 20px;">
    <thead style="color: white; background-color: rgba(40, 40, 48, 0.8)">
      <tr>
        <th>Usuario</th>
        <th>Gano</th>
        <th>Puntaje</th>
        <th>Ganadas</th>
        <th>Empates</th>
        <th>Perdidas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of listado | tipoJuego: {juego: 'BlackJack'}">
        <td>{{juego.nombre}} </td>
        <td [ngClass]="juego.gano?'btn-success':''">{{juego.gano?'Si':'No'}} </td>
        <td>{{juego.puntaje}} </td>
        <td>{{juego.ganadas}} </td>
        <td>{{juego.empates}} </td>
        <td>{{juego.perdidas}} </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showTable.ppt" class="visor">
  <p class="titulo tag">&nbsp;Piedra papel o tijera</p>
  <table class="table table-condensed table-bordered table-hover titulo" style="margin-bottom: 20px;">
    <thead style="color: white; background-color: rgba(40, 40, 48, 0.8)">
      <tr>
        <th>Usuario</th>
        <th>Ganadas</th>
        <th>Empatadas</th>
        <th>Perdidas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of listado | tipoJuego: {juego: 'PPT'}">
        <td>{{juego.nombre}} </td>
        <td>{{juego.ganadas}} </td>
        <td>{{juego.empatadas}} </td>
        <td>{{juego.perdidas}} </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showTable.tateti" class="visor">
  <p class="titulo tag">&nbsp;Ta te ti</p>
  <table class="table table-condensed table-bordered table-hover titulo" style="margin-bottom: 20px;">
    <thead style="color: white; background-color: rgba(40, 40, 48, 0.8)">
      <tr>
        <th>Usuario</th>
        <th>Ganó</th>
        <th>Perdió</th>
        <th>Empató</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of listado | tipoJuego: {juego: 'Tateti'}">
        <td>{{juego.nombre}} </td>
        <td [ngClass]="juego.gano?'btn-success':''">{{juego.gano?'Si':'No'}} </td>
        <td [ngClass]="juego.perdio?'btn-danger':''">{{juego.perdio?'Si':'No'}} </td>
        <td [ngClass]="juego.empato?'btn-warning':''">{{juego.empato?'Si':'No'}} </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showTable.velocidad" class="visor">
  <p class="titulo tag">&nbsp;Velocidad mental</p>
  <table class="table table-condensed table-bordered table-hover titulo" style="margin-bottom: 20px;">
    <thead style="color: white; background-color: rgba(40, 40, 48, 0.8)">
      <tr>
        <th>Usuario</th>
        <th>Ganó</th>
        <th>Solución</th>
        <th>Intentos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of listado | tipoJuego: {juego: 'Velocidad'}">
        <td>{{juego.nombre}} </td>
        <td [ngClass]="juego.gano?'btn-success':''">{{juego.gano?'Si':'No'}} </td>
        <td>{{juego.solucion}} </td>
        <td>{{juego.intentos}} </td>
      </tr>
    </tbody>
  </table>
</div>

<app-decorations></app-decorations>
<!-- </div> -->
</div>