/* You can add global styles to this file, and also import other style files */

body {
    text-align: center;
    background-image: url('./assets/imagenes/background_pattern12.jpg');
    background-color: steelblue;
    background-repeat: repeat;
    
}

.titulo {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}


@keyframes reparto {
    0% {
        top: -140px;
        
        position: fixed;
    }
    99% {
        top: 320px;
        
        position: fixed;
    }
    100% {
        top: 0px;
        left: initial;
        position: inherit;
    }
}


.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
