/* You can add global styles to this file, and also import other style files */

body {
    text-align: center;
    background-image: url('./assets/imagenes/background_pattern12.jpg');
    background-color: steelblue;
    background-repeat: repeat;
    
}

@keyframes reparto {
    0% {
        top: -140px;
        
        position: fixed;
    }
    99% {
        top: 320px;
        
        position: fixed;
    }
    100% {
        top: 0px;
        left: initial;
        position: inherit;
    }
}

