<div class="main-w3layouts wrapper presentspin">
  <h1 class="titulo">Registro</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form id="formRegistro" (submit)="registrarse();" action="/index.php" method="post">
        <input id="txtNombre" [(ngModel)]="nombre" class="inputField" type="text" name="usuario" placeholder="Nombre" required>
        <input id="txtEmail" [(ngModel)]="email" class="inputField" type="email" name="email" placeholder="Email" required>
        <input id="txtCuit" min="1" max="100000000000" [(ngModel)]="cuit" class="inputField" type="number" name="cuit" placeholder="CUIT" required>
        <div class="radio-container">
          <label class="radio-inline">
            <input type="radio" [(ngModel)]="sexo" name="sexo" checked value="m">Masculino</label>
          <label class="radio-inline">
            <input type="radio" [(ngModel)]="sexo" name="sexo" value="f">Femenino</label>
        </div>
        <input id="txtClave" [(ngModel)]="clave" class="inputField" type="password" name="clave" placeholder="Clave" required="true">
        <input id="txtRpClave" [(ngModel)]="clave2" class="inputField w3lpass" type="password" name="clave" placeholder="Confirme clave"
          required=true>
        <div class="wthree-text">
          <div class="checkbox">
            <label class="anim">
              <input type="checkbox" (change)="toggleTerminos()" class="checkbox" required="yes"> &nbsp; Acepto los términos y condiciones
            </label>
          </div>
          <div class="clear"> </div>
        </div>
        <button *ngIf="terminos " class="btn btn-default" type="submit">Registrarse</button>
      </form>
      <p>¿Ya tiene cuenta?
        <a routerLink="/Login"> Ingrese aquí</a>
      </p>
    </div>
  </div>
  <div class="w3copyright-agile">
    <p class="titulo">© 2018 UTN.FRA | Design by
      <a href="/">hnkr</a>
    </p>
  </div>
  <app-decorations></app-decorations>
</div>