
.contenedor
{
    background-color: rgba(60, 60, 60, 0.38);
    border: none !important;
    border-width: 3px;
    height: fit-content;


}

.titulo {
    font-family: cursive; 
}

.contador {
    color: rgb(10, 45, 73);

}

.gano {
    color: rgb(10, 45, 73);
    
}

.panel {
    background-color: transparent;
    /* height: 85vh; */
}

.boton {
    align-self: center;
    width: 80%;
    height: 5vh;
    margin: 20px;
    
}

.comprobar {
    background-color: rgba(52, 218, 1, 0.575);
}

.comprobar:hover {
    background-color: rgba(52, 218, 1, 0.377);
}

.rendirse {
    background-color: rgba(218, 30, 1, 0.562);
}